.md h1::before, .md h2::before, .md h3::before,
.md h4::before, .md h5::before, .md h6::before {
    content: none;
}

p:empty { display: none; }

.md h2, .md h3, .md h4 {
    margin-top: 0;
    padding-top: 0;
}
